{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% block title %}
        <title>Training portal</title>
    {% endblock title %}
</head>
<body>
    
    <div class="container">

        {% include 'includes/inc_menu.html' %}

        {% block content %}

        {% endblock content %}

    </div>
    
    {% include 'includes/inc_footer.html' %}
    
    <!-- JavaScript section -->
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}></script>

    
</body>

</html>
